{% extends "base.html" %}
{% block title %}Cliente{% endblock %}

{% block content %}
<div class="container">
	<div id="headline-page">
		<h1>Formulario de Registro</h1>
	</div>

	<div class="row">
		<form method="post" class="" action="" width="300px"  enctype='multipart/form-data'>
 
  <br>
{% csrf_token %}
   
  
    <p>Para crear tu cuenta proporciónanos tus datos personales </p>
  

  {{ usuario_form.errors }}
{{ usuario_form }}

  {{ cliente_form.errors }}
  <div class="span3" style='clear:both;'>
    <label>Nombre</label>
    {{ cliente_form.nombre }}
  </div>
  <div class="span3">
    <label>Edad</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.edad }}
    </div>
  </div>
  <div class="span3">
    <label>Codigo Postal</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.codigo_postal }}
    </div>
  </div>
  <div class="span3" style='clear:both;'>
    <label>RFC</label>
    {{ cliente_form.rfc }}
  </div>
  <div class="span3">
    <label>Telefono</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.telefono }}
    </div>
  </div>
  <div class="span3">
    <label>Ocupacion</label>
    {{ cliente_form.ocupacion }}
  </div>
  <div style='clear:both;'>
    <hr>
  </div>
  <div class="span3" style='clear:both;'>
    <label>Ciudad</label>
    {{ cliente_form.city }}
  </div>
  <div class="span3">
    <label>Colonia</label>
    {{ cliente_form.dir_colonia }}
  </div>
  <div class="span3">
    <label>Poblacion</label>
    {{ cliente_form.dir_poblacion }}
  </div>
   <div class="span3" style='clear:both;'>
    <label>Calle o Campo</label>
    {{ cliente_form.dir_calle }}
  </div>
  <div class="span3" >
    <label>No Exterior</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.dir_no_exterior}}
    </div>
  </div>
  <div class="span3" style='clear:both;'>
    <label>No Interior</label>
    <div class="input-prepend input-append">
      <span class="add-on">#</span>
      {{ cliente_form.dir_no_interior }}
    </div>
  </div>
  <div class="span3" >
    <label>Referencia</label>
    {{ cliente_form.dir_referencia }}
  </div>
  
  
  <div class="form-actions mainmenu" style='clear:both;'>
	<input type="submit" class="btn btn-primary" value="Crear Cuenta" />
  </div>
</form>
	</div>
</div>
{% endblock %}