{% extends "base.html" %}
{% block title %}Envíos de dinero{% endblock %}

{% block content %}
<div class="container">
		<div id="headline-page">
			<h1>Envíos de dinero a México y Estados Unidos.</h1>
		</div>
		<div class="row">
			<div class="span12">
				<div class="thumbnail"><img alt="" src="{{STATIC_URL}}img/gallery/dinero.png"/></div>
				<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Curabitur bibendum molestie eros a ornare. Phasellus consequat ultricies ante. Donec pharetra, elit at euismod posuere, nunc tortor viverra urna, a malesuada dui sem vitae lectus. Phasellus consequat ultricies ante. Donec pharetra, elit at euismod posuere, nunc tortor viverra urna, a malesuada dui sem vitae lectus. Phasellus consequat ultricies ante. Donec pharetra, elit at euismod posuere, nunc tortor viverra urna, a malesuada dui sem vitae lectus.</p>
			</div>
		</div>
	</div>
{% endblock %}