{% extends "base.html" %}
{% block title %}Resepcion{% endblock %}

{% block content %}
<div class="container">
		<div id="headline-page">
			<h1>Recepción de paquetes y entrega en todo México.</h1>
		</div>
		<div class="row">
			<div class="span12">
				<div class="thumbnail"><img alt="" src="{{STATIC_URL}}img/gallery/recepcion.png"/></div>
						 
						<p><strong>Compra por Internet, teléfono o catálogo en las mejores tiendas de Estados Unidos o Canadá.</strong></p> <p>Al terminar tus compras en la tienda en línea de tu elección utiliza la dirección Envi-A-Mex como tu dirección de envío en Estados Unidos (Shipping Address); y como tu dirección de facturación (Billing address) la dirección que tienes asociada a la tarjeta de crédito con la que realices el pago. No olvides anotar tu número de cliente en la dirección de envío.</p>
						<p>Ejemplo:</p>
						<strong><p>Tu nombre</p>
						<p>5959 GATEWAY EL PASO, TX </p></strong>

							 
						<p>Una vez que se recibe la mercancía en el almacén de Envi-A-Mex se revisa físicamente la mercancía así como su documentación.</p>
						<p>Debes enviar a Envi-A-Mex una copia de la factura que recibes de la tienda por correo electrónico. De esta forma podemos agilizar la operación y solucionar problemas en caso de documentación incompleta.</p>
						<p>Posteriormente se determina el monto a pagar por manejo e impuestos. Envi-A-Mex  te envía un correo electrónico de cobro.</p>

						<p>	Una vez recibido el pago, Envi-A-Mex  realiza el trámite aduanal y reenvía el paquete a tu domicilio en cualquier lugar de México con Estafeta Mexicana. Recibirás un correo electrónico de confirmación en el cual se detalla el número de guía de tu envío y con el cuál podrás efectuar el rastreo en línea con Estafeta.</p>

						<p><strong>Seguridad al pagar con tu tarjeta de crédito. </strong></p>
						<p>Con PayPal puede comprar con total seguridad sin compartir la información financiera confidencial con los vendedores. </p>

						<p>Los datos personales de nuestros clientes así como toda la información asociada son para uso exclusivo de Envi-A-Mex  para facilitar el proceso y envío a México. Esta información <strong>no</strong> es vendida ni proporcionada a terceros.</p>

						<p><strong>Para las compras en línea, te sugerimos verificar que las tiendas cuenten con el logotipo de Verisign el cual garantiza el estándar internacional de seguridad SSL.</strong></p>			</div>
		</div>
	</div>
{% endblock %}