{% extends "base.html" %}
{% block title %}Servicios{% endblock %}

{% block content %}
<div class="container">
	<div id="headline-page">
		<h1>Servicios</h1>
		<div id="crumbs"><a href="/">Principal</a> / <a href="/servicios/" class="active">Servicios</a></div> 
	</div>
	<div class="row">
		<div class="span8">
			<div class="accordion" id="accordion">
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle target" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
						Servicio de paquetería  ¿Cómo funciona?
					</a></div>
					<div id="collapse-1" class="accordion-body collapse"><div class="accordion-inner">
						Después de que la mercancía llegue al almacén, se ingresa al sistema y se revisa para su clasificación y trámite, así como la revisión de la factura. 
						<p>Terminado el proceso de importación o liberación aduanal, se envía al domicilio registrado del cliente.</p>  
						<p>Todos los productos enviados a México usando este servicio deben ser importados formalmente.</p>
						<p>La mercancía será importada siempre conservando el empaque original del proveedor de USA.</p>

					</div></div>
				</div>   
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
						Envío de paquetería.
					</a></div>
					<div id="collapse2" class="accordion-body collapse"><div class="accordion-inner">
						El tiempo de entrega en México es de 3 a 5 días hábiles después de que se haya liberado en la aduana mexicana. <p>El proceso de importación y liberación de aduana tarda de 24 a 48 horas. <p>Existen casos en los que el envío se detiene si solicitaste Aprobación de Cargos, o si hay algún problema con la documentación.</p> <p>En ambos casos se envía notificación al cliente.</p>
					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						Aprobación de cargos por impuestos.
					</a></div>
					<div id="collapse3" class="accordion-body collapse"><div class="accordion-inner">
						Se  debe realizar la clasificación aduanal de cada producto a importar. <p>En caso de que existan restricciones o cuotas compensatorias elevadas (por ejemplo en productos chinos), los cargos por impuestos pueden ser altos.</p>
						Mantenemos informados a sus clientes sobre los cambios en los procedimientos aduanales.

					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						Pago por manejo e impuestos.
					</a></div>
					<div id="collapse4" class="accordion-body collapse"><div class="accordion-inner">
						Después de la clasificación aduanal se determina el pago de impuestos. <p>Este monto, más el importe de manejo, se debe de pagar a Enviamex  antes de que se realice el envío a México.</p>
					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
						Concentrado.
					</a></div>
					<div id="collapse5" class="accordion-body collapse"><div class="accordion-inner">
						Este servicio te permite concentrar "paquetes" para obtener un ahorro considerable al realizar un solo envío y no varios. 
						<p>El consolidado o concentrado se maneja de forma mensual, aunque tiene la flexibilidad de envío cualquier día del mes si así lo requieres, para ésto es necesario que el cliente lo solicite.</p> <p>* La correspondencia no aplica en concentrados.</p>

					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
						Restricciones para concentrar mercancía.
					</a></div>
					<div id="collapse6" class="accordion-body collapse"><div class="accordion-inner">
						Mercancía como televisores, DVD players, computadoras, etc., que debe ser enviada en su empaque original para seguridad y protección, no se puede concentrar. <p>Esta mercancía se envía siempre de forma inmediata e individual, aun cuando se haya seleccionado la opción de concentrado.</p> <p>Por cada paquete entrante, que se almacene y se concentre para envío a México al final del mes, aplica un costo adicional al manejo del concentrado.</p>
						<p>Por restricción de aduana, solo es posible importar tres artículos iguales en un mismo concentrado.</p>
					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
						Cantidades Máximas de Productos por Envío.
					</a></div>
					<div id="collapse7" class="accordion-body collapse"><div class="accordion-inner">
						
						Para saber las cantidades máximas a incluir, así como la categoría en la que entran, favor de contactar a nuestros asesores en  <strong>info@enviamexpaisano.com</strong>

					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
						Condiciones de almacenamiento
					</a></div>
					<div id="collapse8" class="accordion-body collapse"><div class="accordion-inner">
						Las mercancías se almacenan por un máximo de 30 días, al final de este periodo se hace el envío, de lo contrario causará recargos de almacenaje proporcional al peso y volumen de cada mercancía. <p>El costo de almacenaje es de $0.50 usd por día por operación registrada en nuestro sistema.</p>
					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
						Operación de envíos.
					</a></div>
					<div id="collapse9" class="accordion-body collapse"><div class="accordion-inner">
						Una vez que el envío sale de nuestro Centro de Operaciones, te informamos el número de operación y el número de guía para que puedas rastrearlo en la página de Internet del servicio de paquetería correspondiente.
						<p>Reclamos en cuanto a la entrega del envío se deberán hacer en la línea de Servicio a Clientes del servicio de mensajería.</p>
					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
						Horarios de Entrega de Estafeta
					</a></div>
					<div id="collapse10" class="accordion-body collapse"><div class="accordion-inner">
						Los paquetes y envíos de documentos hechos con Estafeta, se entregan en la dirección del destinatario en horarios normales de oficina (9:00 a.m. a 6:00 p.m.), de lunes a viernes. <p><strong>Es responsabilidad de la persona que recibe que haya alguien presente que pueda recibir el envío. Si no hay nadie en la dirección especificada, el mensajero de Estafeta dejará un aviso.</strong></p> 
					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
						Avisos de Entrega y Reenvíos con Estafeta

					</a></div>
					<div id="collapse11" class="accordion-body collapse"><div class="accordion-inner">
						En caso de Estafeta no encuentre a nadie en el domicilio de entrega, se procederá a dejar un aviso. <p>Si no se encuentra a alguien que reciba el siguiente día hábil, se deja un segundo aviso.</p> <p>Después del segundo aviso, Estafeta no reenvía el paquete al destinatario, éste es devuelto al remitente: Centro de Operaciones de Envi-A-Mex.</p>
						<p>Para recuperar sus envíos, es necesario contactar a Envi-A-Mex para coordinar la entrega. El reenvío se cobra aparte, a menos que el cliente demuestre que no se efectuaron los avisos por parte de Estafeta.</p>
					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
						Servicio de correspondencia. 
						<strong>¿Cómo funciona?</strong>

					</a></div>
					<div id="collapse12" class="accordion-body collapse"><div class="accordion-inner">
						Proporciona tu dirección de envío en Estados Unidos (Shipping Address) y número de cliente  en suscripciones a revistas, personas y empresas que te envían correspondencia.
					</div></div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
						Pago por manejo
					</a></div>
					<div id="collapse13" class="accordion-body collapse"><div class="accordion-inner">
						El servicio de correspondencia no tiene costo de renta mensual o anual. Sólo pagas el manejo de cada envío que se realice. 
					</div></div>
				</div>
			</div>

		</div>
		<div class="span4">
			<div class="headline"><h4>Categories</h4></div>
			<ul class="link-list"> 
				<li><a href="/servicios/">Servicios</a></li>
				<li><a href="/servicios/">Recepción de paquetes</a></li>
				<li><a href="dinero.html">Envíos de dinero</a></li>
				<li><a href="/servicios/">Envíos de medicamento</a></li>
				<li><a href="/servicios/">Correspondencia</a></li>
				<li><a href="#">Clientes</a></li>
			</ul>
			<div class="tagcloud">
				<a href="#">Recepción de paquetes</a>
				<a href="#">Medicamento</a>
				<a href="#">Servicios</a>
				<a href="#">Dinero</a>
				<a href="#">Estafeta</a>
				<a href="#">UPS</a>
				<a href="#">Fedex</a>
				<a href="#">Envi-A-Mex</a>
				<a href="#">Contáctenos</a>
				<a href="#">Enviar dinero</a>
				<a href="#">Transportación</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}